* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background: linear-gradient(to right, rgb(198, 198, 252), rgb(255, 189, 189));
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  height: 80%;
  width: 40%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3vw 2vw;
  border-radius: 30px;
  box-shadow: 0px 10px 50px -20px rgb(0, 0, 0, 1);
}

.formstyling {
  text-align: center;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  gap: 1vw;
  animation: popup 1s;
}

@keyframes popup {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.headingstyling {
  color: black;
  margin-bottom: 2vw;
}

.inputstyling {
  width: 100%;
  border: none;
  border-radius: 30px;
  background: #eee;
  padding: 1vw;
  outline: none;
}

.buttonstyling {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 1.2vw;
  color: white;
  width: 100%;
  border: none;
  background: linear-gradient(to right, rgb(198, 198, 252), rgb(255, 189, 189));
  border-radius: 30px;
  padding: 0.8vw;
  margin-top: 1vw;
}

.parastyling {
  font-size: 1vw;
}

.linkstyling {
  text-decoration: none;
}

.formstyling .displayheading {
  color: #000000;
  font-size: 2vw;
  margin-bottom: 2vw;
}

.displayName {
  font-size: 2.5vw;
}

.active {
  display: flex;
}

.todoList {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2vw;
  margin-bottom: 2vw;
}

.todoList ul {
  height: 250px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1vw;
  overflow: auto;
}

.todoList ul li {
  background-color: rgb(243, 243, 243);
  width: 90%;
  list-style: none;
  padding: 1vw;
  border-radius: 30px;
  text-align: start;
}

.todoList ul li input {
  margin-right: 1vw;
}

.userInput {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 1vw;
}

.userInput input {
  width: 70%;
  border-radius: 30px;
  padding: 1vw;
  border: none;
  background-color: #f0efef;
}

.userInput button {
  padding: 1vw;
  border-radius: 30px;
  border: none;
  color: white;
  font-weight: bolder;
  background: linear-gradient(to right, rgb(198, 198, 252), rgb(255, 189, 189));
}

@media (max-width: 1024px) {
  .container {
    width: 50%;
  }

  .formstyling {
    gap: 2vw;
  }
  .inputstyling {
    padding: 1.5vw;
  }

  .buttonstyling {
    font-size: 3vw;
    margin-top: 2vw;
  }

  .parastyling {
    font-size: 1.5vw;
    margin-top: 1vw;
  }

  .formstyling .displayheading {
    font-size: 2vw;
  }
  .displayName {
    font-size: 4.5vw;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 10vw 5vw;
    width: 80%;
  }

  .formstyling {
    gap: 2vw;
  }

  .headingstyling {
    font-size: 6vw;
  }

  .inputstyling {
    font-size: 2vw;
    padding: 2vw;
  }

  .buttonstyling {
    font-size: 4vw;
    margin-top: 2vw;
  }

  .parastyling {
    font-size: 2.5vw;
    margin-top: 1vw;
  }
  .formstyling .displayheading {
    font-size: 2vw;
  }
  .displayName {
    font-size: 6.5vw;
  }
}
